<th:block th:replace="normal-user/base::layout(~{::section}, ~{::title})">
    <title>All Contacts</title>
    <section id="all-contacts-section">
        <div class="container glass-bg" id="all-contacts-card">
            <div class="container-fluid p-0">
                <h1 class="text-center">Contacts</h1>
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 col-11 mb-1 p-0">
                        <input type="text" id="con-search"
                               class="cont-search" placeholder="Search contact by name">
                            <button class="btn btn-primary" id="search-btn">Search</button>
                        </div>
                        <select class="form-group col-lg-3 col-sm-5 col-5 p-2 mb-1 mr-1 select-relationship" id="autoSizingSelect">
                            <option value="Relation" disabled th:selected="${filter=='Relation'}">Relation</option>
                            <option value="Friend" th:selected="${filter=='Friend'}">Friend</option>
                            <option value="Aunt/Uncle" th:selected="${filter=='Aunt/Uncle'}">Aunt/Uncle</option>
                            <option value="Parent" th:selected="${filter=='Parent'}">Parent</option>
                            <option value="Neighbor" th:selected="${filter=='Neighbor'}">Neighbor</option>
                            <option value="Sibling" th:selected="${filter=='Sibling'}">Sibling</option>
                            <option value="Other" th:selected="${filter=='Other'}">Other</option>
                            <option value="All Contacts" th:selected="${filter=='All Contacts'}">All Contacts</option>
                        </select>
                        <button class="btn btn-outline-primary col-lg-3 col-6 col-sm-5 m-0 add-con-btn">Add Contacts</button>
                    </div>
                </div>
            </div>

            <!-- DELETE POPUP-->
            <div th:if="${isDeleted}" id="con-del-popup"></div>
            <div class="table-responsive">
                <table class="table table-striped" id="search-tbl" style="display: none">
                </table>
                <table class="table table-striped contacts-table" id="con-tbl">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Favorite</th>
                        <th>Picture</th>
                        <th scope="col">
                            <a th:href="@{'/user/view-contacts/'+${currentPage}(sortField='name',sortDir=${reverseSortDir})}">Name &nbsp;<i class="fa-solid fa-sort d-inline-block"></i></a></th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col" colspan="2" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${contacts}">
                        <td scope="row" class="align-middle"><i class="fa-star fav-con-star" th:classAppend="${c.isFavorite}?'fa-solid':'fa-regular'" th:id="${c.id}"></i></td>
                        <td class="my-td">
                            <img th:src="@{'/image/uploads/'+${c.profileImg}}" alt="img" class="con-profile-img"/>
                        </td>
                        <td class="align-middle"><span th:text="${c.name}"></span></td>
                        <td class="align-middle">
                            <a th:text="${c.email}" th:href="@{'/user/contact/'+${c.id}}"></a>
                        </td>
                        <td th:text="${c.phone}" class="align-middle"></td>
                        <td class="text-center align-middle">
                            <a th:onclick="|deleteContact(${c.id})|" class="action-icon"><i
                                    class="fa-solid fa-trash-can"
                                    style="color: #e35959;"></i></a>
                        </td>
                        <td class="text-center align-middle">
                            <a th:href="@{'/user/edit-contact/'+${c.id}}" class="action-icon"><i
                                    class="fa-solid fa-pen-to-square" style="color: #4094e2;"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="..." class="mt-2">
                    <ul class="pagination">
                        <li class="page-item" th:if="${currentPage!=0}">
                            <a class="page-link"
                               th:href="@{'/user/view-contacts/'+${currentPage-1}(sortField='name',sortDir=${sortDir})}">Previous</a>
                        </li>
                        <li th:classappend="${currentPage==i-1 ? 'active':''}"
                            th:each="i : ${#numbers.sequence(1,totalPages)}"
                            class="page-item">
                            <a class="page-link" th:if="${i}!=0"
                               th:href="@{'/user/view-contacts/'+${i-1}(sortField='name',sortDir=${sortDir})}"
                               th:text="${i}"></a>
                        </li>
                        <li class="page-item" th:if="${currentPage<totalPages-1}">
                            <a class="page-link"
                               th:href="@{'/user/view-contacts/'+${currentPage+1}(sortField='name',sortDir=${sortDir})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </section>
</th:block>