<th:block th:replace="normal-user/base::layout(~{::section}, ~{::title})">
    <title>Profile</title>
    <section class="profile-section">
        <div class="row justify-content-center mw-100 m-0">
            <div class="card glass-bg col-lg-7 col-md-7 col-sm-12 p-1">
                <div class="container text-center">
                    <img th:src="@{'/image/uploads/default.png'}" alt="img" class="con-profile-img-big"/>
                    <h2 th:text="${user.firstName + ' ' + user.lastName}"></h2>
                    <table class="table table-striped mt-3">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td th:text="${user.id}"></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td th:text="${user.email}"></td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td th:text="${user.contactNumber}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <a th:href="@{'/user/view-contacts/0?sortField=name&sortDir=asc'}"
                       class="btn btn-outline-primary m-2">Back to Contacts</a>
                </div>
            </div>
        </div>
    </section>
</th:block>