<th:block th:replace="public/base::layout(~{::section}, ~{::title})">
    <title>Smart Contact Manager - Home</title>
    <section>
        <div id="banner-container" class="banner"></div>
        <div class="container-fluid w-100 m-0 p-3" id="banner-cards-container">
            <div class="row w-100 m-0 justify-content-around" id="banner-card-row">
                <div class="col my-3">
                    <div class="card">
                        <img th:src="@{/image/card1.jpg}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col my-3">
                    <div class="card">
                        <img th:src="@{/image/card1.jpg}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col my-3">
                    <div class="card">
                            <img th:src="@{/image/card1.jpg}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col my-3">
                    <div class="card">
                        <img th:src="@{/image/card1.jpg}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
